@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');


body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}
h1 {
    font-family: 'Alef', sans-serif;
}nav ul {
    position: absolute;
    width: 100%;
    right: 0;
    text-align: center;
    background: white;
    height: auto;
    z-index: 7;
}
nav ul li a {
    color: rgb(36,41,44);
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: white;
}
nav ul li a:hover {
    color: grey;
}
.container {
    text-align: center;
    padding: .8em 1.2em;
    width: 90%;
}

.logo {
    width: 80px;
    height: 50px;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    z-index: 1;
}

.menu {
    width: 25px;
    margin-top: 50%;
}

.picture-container {
    margin: 0;
    padding: 0;
}
.picture-container img {
    width: 70%;
    margin: 0 0 0 15%;
}

.about-container {
    margin-top: 0;
    padding: 0;
}

.container h1{
    margin: 0;
    padding-top: 10%;
    padding-bottom: 0;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 2.6em;
}

.about-container .inner-list {
    justify-content: left;
    text-align: left;
}

.about-container .inner-list h3{
    padding-top: 20px;
    margin: 0;
    font-size: 1em; 
}

.about-container .inner-list p{
    padding-top: 5px;
    margin: 0 0 10px;
    font-size: .9em; 
}
footer {
    background: #5D5D5D;
    color: white;
    width: 100%;
    bottom: 0;
}
.footer-icon {
    width: 30px;
    height: 30px;
}
.footer-list {
    display: flex;
    justify-content: left;
}
.footer-list li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

@media only screen and (min-width: 1024px){
    .hide-mobile{
        display: block;
    }
    .hide-desktop {
        display: none;
    }
    .menu {
        z-index: 4;
    }
    .logo {
        width: 110px;
        height: 80px;
    }
    .container h1 {
        padding: 3% 0 0;
    }
    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    nav ul li {
        float: left;
        margin-right: 20px;
    }
    nav ul li a{
        color: black;
        background: inherit;
        text-align: right;
        padding: .5em .5em;
    }
    nav ul li a:hover {
        color: #28A9A1;
        background: white;
    }
    nav ul li a:active {
        color: #28A9A1;
    }
    .container {
        width: 90%;
        margin-left: 5%;
    }
    .about-container{
        position: relative;
        margin-top: 0;
        margin-bottom: 2%;
    }
    .about-container h1 {
        margin: 0;
        text-align: left;
    }
    .about-container .outer-list {
        display: block;
        text-align: left;
        width: 50%;
    }

    .image-container {
        position: absolute;
        top: 12%;
        width: 50%;
        left: 50%;
        overflow: hidden;
        height: 35em;
    }
    .image-container img {
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        left: 12%;
    }
    .footer-icon {
        width: 40px;
        height: 40px;
    }
    .footer-list {
        display: flex;
        justify-content: center;
    }
    .footer-list li {
        margin: 10px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1400px){
    .image-container img {
        width: 70%;
        bottom: 0;
        left: 15%;
    }
    .image-container {
        height: 35em;
        top:8%;
    }
}

@media only screen and (min-width: 1600px){
    .image-container img {
        width: 70%;
        bottom: 0;
        left: 15%
    }
    .image-container {
        height: 30em;
    }
}