*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.hide-mobile {
  display: none;
}
.contact-container {
  height: 90vh;
  display: flex;
  align-items:flex-start;
  justify-content: space-evenly;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 50px;
}
.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.contact-left-title hr {
  border: none;
}
.contact-inputs {
  width: 80vw;
  height: 50px;
  border-color: black;
  padding-left: 25px;
  font-weight: 500;
  border-radius: 20px;
}
.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-color: black;
  border-radius: 20px;
}
.contact-inputs:focus {
  border: 2px solid #989f97;
}
.contact-inputs::placeholder {
  color: gray;
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  color: white;
  gap: 10px;
  border: black;
  border-radius: 20px;
  background: #989f97;
  cursor: pointer;
}
.contact-right {
  display: none;
}
.social-icon {
  display: flex;
  justify-content: center;
  margin: 2px 0;
}
.social-icon__item {
  list-style: none;
}
.social-icon__link {
  font-size: 2.5rem;
  margin: 0 10px;
  margin-left: 0;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

/* Laptop size */
@media only screen and (min-width: 1024px){
.hide-mobile {
   display: block;
}
.hide-desktop {
   display: none;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 1200px;
}
.contact-inputs {
  width: 400px;
}
.contact-right {
  display: block;
  padding-top: 50px;
}
.contact-right p {
  width: 500px;
}
.contact-right img{
  width: 300px;
}
.list-item {
  line-height: 4;
  color: #aaa;
}
.social-icon {
  justify-content: left;
}
.section-header {
  font-size: 30px;
}
.section-header p {
  font-size: 20px;
}
}