body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.hide-mobile {
  display: none;
}
.contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  font: 300 30px 'Oswald', sans-serif;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.contact-blurb .form-horizontal{
  width: 90%;
  height: 50vh;
  text-align: center;
}
.contact-blurb {
  text-align: center;
  margin: 2em;
}
.form-horizontal {
  font-family: 'Lato';
  font-weight: 400;
  height: 60vh;
}
.form-control, textarea {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  color: #333;
  border-color: #333;
}
.form-group {
  width: 90%;
  margin: auto;
}
.send-button {
  width: 100%;
  height: 3em;
  margin: auto;
  background-color: #f2f0eb;
  border-color: #333;
  border-radius: 10px;
} 
.send-text {
  font-size: medium;
}
.social-icon {
  display: flex;
  justify-content: center;
  margin: 2px 0;
}
.social-icon__item {
  list-style: none;
}
.social-icon__link {
  font-size: 2.5rem;
  margin: 0 10px;
  margin-left: 0;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

/* Tablet size */
@media only screen and (min-width: 760px){
  .send-button:hover{
    background-color: #989f97;
    color: white;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
  }
}

/* Laptop size */
@media only screen and (min-width: 1024px){
.hide-mobile {
   display: block;
}
.hide-desktop {
   display: none;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 1200px;
}
.contact-blurb .form-horizontal{
  width: 99%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: none;
}
.form-horizontal {
  width: 50%
}
.contact-blurb {
  width: 50%;
  text-align: left;
  margin: 0;
  padding: 0;
}
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}
.form-label {
  margin-left: 10px;
}
.form-control {
  width: 100%;
  margin-bottom: 10px;
}
.form-control, textarea {
  width: 100%;
  color: #333;
  border-color: #333;
  margin-left: 10px;
  padding-left: 2px;
  font-size: small;
}
.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.list-item {
  line-height: 4;
  color: #aaa;
}
.send-button {
  margin-left: 10px;
  width: 100%;
}
.social-icon {
  justify-content: left;
}
}