*{
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f2f0eb;
  position: relative;
}
.hide-mobile {
  display: none;
}
.hide-desktop {
  display: block;
}
h1 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  padding: 50px 0 20px;
  width: 100%;
}
h4 {
  width: 100%;
  margin: 0 5%;
  font-size: small;
}
.links-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.links-container p {
  font-size: 12px;
  width: 80vw;
  margin-bottom: 30px;
}
.build-links, .vanlife-links, .partner-links, .sale-links{
  margin: 5px;
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.sale-links, .vanlife-links {
  background-color: white;
}
.inner-page {
  background-color: white;
}
.link-card {
  background-color: white;
  border-radius: 10px;
  width: 38vw;
  height: 25vh;
  margin: 5px;
}
.partner-links .link-card {
  height: 28vh;
}
.link-card p{
  margin: 10px;
  width: unset;
}
.link-card h3{
  text-transform: uppercase;
  padding: 8px;
}
.link-card img {
  width: 30vw;
  height: 15vh;
  object-fit:contain;
}
/* Ipad Pro */
@media only screen and (min-width: 1024px){
  .hide-mobile {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
  h1 {
    margin: 15px;
  }
  .links-container {
    padding: 10px 0;
  }
  .links-container p {
    font-size: 16px;
    width: 70vw;
  }
  h4{
    width: 100%;
    padding: 0 15%;
  }
  .back-button button {
    position: absolute;
    margin: 20px 80px;
    font-size:40px;
    font-weight: bolder;
    color: #989f97;
    background-color: white;
    width: 60px;
    border-radius: 100%;
    border-color: white;
    border-style: none;
  }
  .back-button:hover button{
    border-color: #989f97;
    border-style: solid;
  }
  .link-card {
    width: 33vw;
    height: 30vh;
    margin: 20px;
  }
  .partner-links .link-card {
    height: 35vh;
  }
  .link-card h3 {
    padding: 20px;
  }
  .link-card p {
    width: unset;
    font-size: 20px;
    margin: 10px;
  }
  .link-card img {
    height: 20vh;
  }
}
/* Laptop */
@media only screen and (min-width: 1200px){
h1 {
  padding: 0;
}
.links-container {
  justify-content: space-evenly;
}
.build-links, .vanlife-links, .partner-links, .sale-links{
  display: flex;
  justify-content: space-around;
}
.link-card {
  width: 20vw;
  height: 40vh;
}
.build-links .link-card, .partner-links .link-card {
  width: 30vw;
}
.partner-links .link-card {
  height: 40vh;
}
.link-card h3{
  text-transform: uppercase;
}
.link-card img {
  margin: 10px;
  height: 30vh;
  width: 15vw;
  object-fit: contain;
}
.sale-links .link-card img{
  margin: 10px;
  width: 12vw;
  object-fit: contain;
}
.partner-links img {
  height: 20vh;
}
.electrical-link {
  width: 25vw;
}
}
