@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alef&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
    position: relative;
    min-height: 100vh;
}
h1 {
    font-family: 'Montserrat', 'sans-serif';
}
.container {
    text-align: center;
    padding: .8em 1.2em;
}
.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    font: 300 30px 'Oswald', sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
.hide-mobile {
    display: none;
}
.picture-container img{
    width: 100%;
    margin-top: -3rem;
    z-index: 1;
}
.about-container {
    margin: 30px;
    background-color: #f2f0eb;
}
.about-container h1 {
    text-align: center;
}
.about-text {
    text-align: center;
    padding: 0 5px;
}
.about-text h3 {
    padding-top: 2rem;
}
.instagram-container {
    text-align: center;
    height: 265px;
    padding: 0;
    padding-top: 10px;
}
.instagram-container h2 {
    z-index: 3;
}
.instagram-container iframe{
    position: relative;
    top: -40px;
    z-index: 1;
}
.collab-container {
    text-align: center;
    background-color: white;
    padding: 10px 0;
}
.collab-blurb {
    padding: 0 5px;
}
.collab-button {
    width: 10rem;
    height: 2rem;
    margin: 5px 0;
    background-color: #989f97;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
}
.collab-button a {
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 760px){
    section h1 {
        font-size: 1.9em;
    }
    .subhead {
        font-size: 1.4em;
    }  
    .about-container h1 {
        margin-bottom: 50px;
        font-size: 2.5em;
    }
    .about-container ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .about-container ul li {
        width: 33.33%;
    }
    .about-container ul li p {
        font-size: 1.2em;
    }
    .about-container ul li blockquote {
        width: 80%;
        margin-left: 10%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 1024px){
    .hide-mobile{
        display: block;
    }
    .hide-desktop {
        display: none;
    }
    .picture-container {
        padding-top: 80px;
    }
    .picture-container .main-img {
        width: 100%;
    }
    .about-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
    }
    .about-text {
        margin-left: 50px;
        width: 600px;
    }
    .about-img img{
        width: 500px;
        height: 500px;
        margin-right: 50px;
        object-fit: cover;
    }
    .instagram-container {
        padding: 0;
        padding-top: 10px;
    }
    .instagram-container iframe{
        position: relative;
        top: -40px;
    }
    .collab-container {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .collab-blurb {
        margin: 50px;
        margin-bottom: 20px;
        width: 70vw;
    }
    .collab-button {
        width: 12rem;
        height: 3rem;
    }
}