@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alef&display=swap');

body, html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
    position: relative;
}
.hide-mobile{
    display: none;
}
.hide-desktop {
    display: block;
}
h1 {
    font-family: 'Montserrat', 'sans-serif';
}
.container {
    text-align: center;
    padding: .8em 1.2em;
}
.hide-mobile {
    display: none;
}
.picture-container {
    background-image: url("/img/mendocino.jpeg");
    height: 350px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.collab-image {
    background-image: url("/img/icelandMobile.JPG");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-header {
    width: 100%;
    font: 30px 'Montserrat', 'sans-serif';
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.section-sub-header {
    width: 100%;
    font: 15px 'Montserrat', 'sans-serif';
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 5px 0px 20px 0px;
}
.about-container {
    background-color: #f2f0eb;
    padding: 30px;
}
.about-container h1 {
    text-align: center;
}
.about-text {
    text-align: center;
    padding: 0 5px;
}
.about-text h3 {
    padding-top: 2rem;
}
.collab-container {
    text-align: center;
    background-color: white;
    padding: 30px;
}
.collab-blurb {
    padding: 0 5px;
}
.collab-button {
    width: 10rem;
    height: 2rem;
    margin: 5px 0;
    background-color: #989f97;
    font-size: medium;
    border-radius: 10px;
    cursor: pointer;
}
.collab-button a {
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 760px){
    .section-header {
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
    section h1 {
        font-size: 1.9em;
    }
    .section-sub-header {
        font-size: 20px;
    }
    .picture-container {
        background-position: center -55%;
    }
    .about-container h1 {
        margin-bottom: 50px;
        font-size: 2.5em;
    }
    .about-container ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .about-container ul li {
        width: 33.33%;
    }
    .about-container ul li p {
        font-size: 1.2em;
    }
    .about-container ul li blockquote {
        width: 80%;
        margin-left: 10%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 1024px){
    .hide-mobile{
        display: block;
    }
    .hide-desktop {
        display: none;
    }
    p {
        font-size: 18px;
    }
    .about-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 100%;
    }
    .about-text h3 {
        padding-top: 0;
    }
    .about-text {
        width: 500px;
    }
    .about-img img{
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
    .collab-image {
        background-image: url("/img/collab-image.JPG");
        height: 40%;
        background-size: cover;
    }
    .collab-container {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .collab-blurb {
        margin: 50px;
        margin-bottom: 20px;
        width: 70vw;
    }
    .collab-button {
        width: 12rem;
        height: 3rem;
    }
}
@media only screen and (min-width: 1200px){
    .picture-container {
        background-image: url("/img/desktopBanner.jpg");
        background-position: center top;
        height: 40%;
    }
    .section-sub-header {
        margin-bottom: 30px;
    }
}