@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alef&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

h1 {
    font-family: 'Montserrat', 'sans-serif';
}

.exit-btn {
    text-align: right;
    margin: 0 5% 2% 0;
    padding: 6% 12%;
    
}

nav ul {
    position: absolute;
    width: 30%;
    top: 2%;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: auto;
    z-index: 7;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background-color: rgb(52,59,63);
}

nav ul li a:hover {
    background-color: rgb(65,73,78)
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 80px;
    height: 50px;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    z-index: 1;
}

.menu {
    width: 25px;
    margin-top: 50%;
}

section h1 {
    font-size: 1.4em;
    margin: 5% 0 0 0;
}

.subhead {
    margin: 0;
    font-size: 1em;
}

.project-box {
    box-shadow: 10px 10px 5px grey;
    height: 13em;
    margin-bottom: 2%;
}

.picture-container img{
    width: 100%;
}

.projects-container h1 {
    font-size: 1.5em;
}
.projects-container ul li {
    margin: 0;
    color: black;
}

.projects-container ul li a{
    color: black;
    text-decoration: none;
}

.projects-container ul li img {
    justify-content: center;
    width: 85%;
}
.projects-container ul li p{
    font-size: 1em;
    margin: 0 0 .5em;
}

.projects-container ul li blockquote {
    font-size: .7em;
    margin: 0 0 2em;
    width: 80%;
    margin-left: 10%;
}

footer {
    background: #5D5D5D;
    color: white;
}

footer hr {
    border-color: #BDF3F0;
}

.cta {
    color: black;
    background: #BDF3F0;
    width: calc(50% - 5em);
    display: block;
    border-radius: 20px;
    padding: .5em;
    text-decoration: none;
    font-size: .8em;
    margin: 3% auto 5%;
    position: relative;
    z-index: 4;
}

.linkedin a{
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 760px){
    section h1 {
        font-size: 1.9em;
    }

    .subhead {
        font-size: 1.4em;
    }
    
    .projects-container h1 {
        margin-bottom: 50px;
        font-size: 2.5em;
    }
    .projects-container ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .projects-container ul li {
        width: 33.33%;
    }
    
    .projects-container ul li p {
        font-size: 1.2em;
    }
    .projects-container ul li blockquote {
        width: 80%;
        margin-left: 10%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 1024px){
    .hide-mobile{
        display: block;
    }
    .hide-desktop {
        display: none;
    }

    .menu {
        z-index: 1;
    }

    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
        margin-right: 20px;
    }

    nav ul li a{
        color: black;
        background: inherit;
        text-align: right;
        padding: .5em .5em;
    }

    nav ul li a:hover {
        color: #28A9A1;
        background: white;
    }

    nav ul li a:active {
        color: #28A9A1;
    }

    .container {
        width: 90%;
        margin-left: 5%;
    }
    
    .picture-container {
        overflow: hidden;
        height: 44em;

    }
    .picture-container .main-img {
        width: 90%;
        margin-left: 5%;
    }

    section {
        position: absolute;
        width: 50%;
        padding-top: 5%;
        text-align: left;
        margin-left: 2%;
    }

    section h1 {
        font-size: 3em;
    }
   
    .subhead {
        font-size: 1.2em;
        font-weight: bold;
    }

    .projects-container h1 {
        margin: 3%;
    }
    .projects-container ul li p {
        padding-top: 2%;
        font-size: 1.2em;
    }
    .projects-container ul li blockquote{
        font-size: 1em;
    }
    
    .cta {
        width: 25%;
        padding: .8em;
        font-size: 1.2em;
        margin: 1% auto 2%;
    }

    .linkedin a {
        font-size: 1em;
    }
    .linkedin {
        display: flex;
        justify-content: center;
    }
    .linkedin li {
        margin: 20px;
    }
}