body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
}
.container {
    text-align: center;
    padding: 0;
    width: 100%;
}
.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    font: 300 20px 'Oswald', sans-serif;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.section-header p{
    font-size: 20px;
}
.hide-mobile {
    display: none;
}
.kit-container img{
    width: 80%;
}
@media only screen and (min-width: 1024px){
    .hide-mobile{
        display: block;
    }
    .hide-desktop {
        display: none;
    }
    .kit-container img{
    width: 60%;
}
}
